<!DOCTYPE html>
<html th:replace="~{_common/layout::layout(~{::header/content()}, ~{::body/content()}, '従業員管理')}" xmlns:th="http://www.thymeleaf.org">
<header>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">システム管理</li>
      <li aria-current="page" class="breadcrumb-item active">従業員管理</li>
    </ol>
  </nav>
</header>
<body>
<div>
  <div class="row g-4">
    <div class="col" style="max-width: 14rem; min-width: 14rem" th:each="employee : ${screen.employeeList}" th:object="${employee}">
      <div class="card h-100 shadow">
        <div class="card-body">
          <div th:text="*{number}"></div>
          <div th:text="*{fullName}"></div>
          <div th:text="*{loginId + '@example.com'}"></div>
        </div>
        <div class="card-footer text-end">
          <a class="btn btn-secondary" th:href="@{/admin/manage/employees/{id}(id=*{id})}">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
          <a class="btn btn-danger" data-bs-target="#deleteConfirmModal" data-bs-toggle="modal"
            th:data-delete-full-name="*{fullName}" th:data-delete-id="*{id}" th:data-delete-number="*{number}">
            <i class="fa-solid fa-trash"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- 削除確認モーダル -->
  <div aria-hidden="true" aria-labelledby="deleteConfirmModalLabel" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="deleteConfirmModal"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteConfirmModalLabel">削除確認</h5>
          <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
          以下の従業員情報を削除します。
          <div class="row mt-3 mx-auto">
            <div class="col-5 fw-bold text-end">社員番号</div>
            <div class="col-7" id="deleteEmployeeNumber"></div>
          </div>
          <div class="row mt-2 mx-auto">
            <div class="col-5 fw-bold text-end">名前</div>
            <div class="col-7" id="deleteEmployeeFullName"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">キャンセル</button>
          <form th:action="@{/admin/manage/employees}" th:method="delete" th:object="${deleteForm}">
            <input id="deleteEmployeeId" name="deleteEmployeeId" type="hidden">
            <button class="btn btn-danger" type="submit">
              <i class="fa-solid fa-trash"></i>削除
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // 削除モーダル表示時の処理
  $('#deleteConfirmModal').on('show.bs.modal', function (event) {
    // 値を取得
    let button = $(event.relatedTarget);
    let id = button.data('delete-id');
    let number = button.data('delete-number');
    let fullName = button.data('delete-full-name');
    // モーダル側に値を設定
    $('#deleteEmployeeId').val(id)
    $('#deleteEmployeeNumber').text(number)
    $('#deleteEmployeeFullName').text(fullName)
  })
</script>
</body>
</html>