<!DOCTYPE html>
<html th:replace="~{_common/layout::layout(~{::header/content()}, ~{::body/content()}, 'トップ')}" xmlns:sec="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<header>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li aria-current="page" class="breadcrumb-item active">トップ</li>
    </ol>
  </nav>
</header>
<body>
<div>
  <div>
    <span sec:authentication="principal.fullName"></span>さん
    <span th:text="${message}"></span>
  </div>
  <span class="badge bg-primary">Primary</span>
  <span class="badge bg-secondary">Secondary</span>
  <span class="badge bg-success">Success</span>
  <span class="badge bg-danger">Danger</span>
  <span class="badge bg-warning text-dark">Warning</span>
  <span class="badge bg-info text-dark">Info</span>
  <span class="badge bg-light text-dark">Light</span>
  <span class="badge bg-dark">Dark</span>
</div>
</body>
</html>