<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap-utilities.css}" rel="stylesheet">
  <link th:href="@{/css/layout.css}" rel="stylesheet">
  <title>利用規約 - portal</title>
</head>
<body>

<div class="container mt-5">
  <div class="text-center mb-5">
    <h1>利用規約</h1>
  </div>
  <div class="text-justify">
    <p>
      この利用規約は、開発者である@uyawer（以下「うや」）がアプリにより提供するサービス（以下「本サービス」）の利用条件を定めるものです。アプリを利用する際は、この利用規約（以下「本規約」）に従うものとします。<br>
      なお、本サービスは、特に意味を持たないクソサイトなので規約も適当です。
    </p>
    <h2>第１条（用語の定義）</h2>
    <p>本規約において使用する用語の定義について、個別に定めるほか、次のとおりとします。<br>
      ① <br>
      ② <br>
      ③
    </p>
    <h2>第２条（本サービスの内容）</h2>
    <p>
      本サービスは、次の各号の内容に限定され、無償で利用できます。<br>
      ① <br>
      ② <br>
      ③
    </p>
  </div>
</div>
</body>
</html>