<!DOCTYPE html>
<html lang="ja" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<nav class="col d-md-block bg-light sidebar collapse" id="sidebarMenu" th:fragment="layout-sidebar">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/" id="top">
          <i class="fa-solid fa-house"></i>
          <span>トップ</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/general/employees">
          <i class="fa-solid fa-user"></i>
          <span>従業員一覧</span>
        </a>
      </li>
      <li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <div class="accordion" id="accordion-system-manage">
          <div class="accordion-item">
            <div class="accordion-header" id="heading-system-manage">
              <button
                aria-controls="collapse-system-manage"
                aria-expanded="false"
                class="nav-link accordion-button bg-light collapsed"
                data-bs-target="#collapse-system-manage"
                data-bs-toggle="collapse"
                type="button">
                <i class="fa-solid fa-gear"></i>
                <span>システム管理</span>
              </button>
            </div>
            <div
              aria-labelledby="heading-system-manage"
              class="accordion-collapse collapse"
              data-bs-parent="#accordion-system-manage"
              id="collapse-system-manage">
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link" href="/admin/manage/departments">
                    <i class="fa-solid fa-users-gear"></i>
                    <span>グループ管理</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/manage/employees">
                    <i class="fa-solid fa-user-gear"></i>
                    <span>従業員管理</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-start align-items-center px-3 mt-4 mb-1 text-muted">
      <span>○○関連</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link disabled" href="#">
          <span data-feather="file-text"></span>
          ○○
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">
          <span data-feather="file-text"></span>
          △△
        </a>
      </li>
    </ul>

    <ul class="nav flex-column d-md-none mt-4 mb-1">
      <li class="nav-item">
        <a class="nav-link px-3 text-end" href="javascript:logout.submit()">
          <i class="fa-solid fa-right-from-bracket"></i>
          <span>ログアウト</span>
        </a>
      </li>
    </ul>
  </div>
  <script type="text/javascript" th:inline="javascript">
    $(function () {
      let top = $('#top')[0];
      // 表示している画面のメニューを開いておく
      if (location.href.includes('/admin/manage')) {
        $('#heading-system-manage button').attr('aria-expanded', 'true').removeClass('collapsed')
        $('#collapse-system-manage').addClass('show')
      }
      // 表示している画面のメニューにハイライトを付ける
      $('#sidebarMenu a').filter(function () {
        // トップだけはrootで全て部分一致してしまうので別枠で判定させる
        if (this.href === top.href) {
          return location.href === top.href;
        }
        return location.href.includes(this.href)
      }).addClass('active').siblings().removeClass('active')
    })
  </script>
</nav>
</html>
